body {
      font-family: "Times New Roman", Times, serif;
      font-style: normal;
      font-size: 15px;
      font-weight: bold;
      font-variant: normal;
      width: 900px;
      margin: 0 auto;
    }
